

table, th, td {
  margin: 30px auto 0;
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
  background-color: #92e8b4
}

#excel_data{
  background-color: #efeaea;
}

#excel_file{
  padding: 10px 20px;
  display: block;
  margin: 30px auto 0;
  font-size: 18px;
  background-color: #89d071;
}

